# Env
.env
.envrc

# Python
__pycache__/
*.py[codz]
*.so
.Python
build/
build-server/
dist-server/
dist/
*.egg-info/
.installed.cfg
*.egg
.venv
venv/
env/
.ruff_cache/
.mypy_cache/
.pytest_cache/

# Node / Electron
node_modules/
out/
dist/

# Project cache
public/cache/
cache.sqlite3-*

# OS
.DS_Store
Thumbs.db
